<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"
    package="com.wj.glasses"
    android:sharedUserMaxSdkVersion="32">

    <!-- 声明获取粗略位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 声明获取精确位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- required = true 表示手机必须支持BLE，否则无法安装运行 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 声明蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 声明蓝牙管理权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.NETWORK_SETTINGS" />
    <uses-permission android:name="android.permission.NETWORK_SETUP_WIZARD" />
    <uses-permission android:name="android.permission.NETWORK_STACK" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--传输文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

<!--    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"-->
<!--        tools:ignore="ProtectedPermissions" />-->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />



    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.SHUTDOWN"/>
    <uses-permission android:name="android.permission.REBOOT"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />


    <application
        android:allowBackup="false"
        android:name="com.wj.glasses.GlassesApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Ble"
        android:directBootAware="true"
        android:persistent="true"
        android:sharedUserId="android.uid.system"
        android:defaultToDeviceProtectedStorage="true"
        tools:targetApi="31">
        <activity
            android:name="com.wj.glasses.MainActivity"
            android:screenOrientation="portrait"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sim.action.SEND_RSTP_ACTION"/>
            </intent-filter>

        </activity>

        <receiver android:name="com.wj.glasses.GlassesBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.wj.glasses.GlassesServerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice"
            android:stopWithTask="false"/>
        <service
            android:name="com.wj.glasses.TakePictrueService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.sim.TAKE_PHOTO_ACTION"/>
            </intent-filter>
        </service>
        <service android:name=".RecordVideoService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sim.RECORD_VIDEO_ACTION"/>
            </intent-filter>
        </service>
    </application>

</manifest>